@import "../../../core/ui/style/_media-queries.scss";

.page-content {
  max-width: var(--page-content-max-width);

  margin: auto;
  padding: 68px 0 49px;
}

@include for-small-screens {
  .page-content {
    padding: 32px 24px;
  }
}
